header, main, aside {
    width: 30%;
    height: 700px;
}

header{
    background-color: yellow;
    border: 1px solid black;
}

body {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sec-01, .sec-02 {
    width: 100%;
    border: 2px solid black;
    height: 45%;
}

.sec-01 {
    background-color: rgb(10, 129, 213);
}

.sec-02 {
    background-color: gray;
}

aside {
    border: 1px solid black;
    background-color: aqua;
}