header, main, footer, aside {
    height: 200px;
    border: 1px solid black;

    margin-bottom: 20px;
}

header{
    background-color: yellow;
}

main {
    display: flex;
    
}

main section{
    border: 1px solid black;
    width: 50%;
}

footer {
    background-color: rgb(61, 118, 210);
}


.main-sec1 {
    background-color: gray;
}

.main-sec2 {
    background-color: aqua;
}