header, main, footer {
    height: 200px;
    border: 1px solid black;

    margin-bottom: 20px;
}

header{
    background-color: yellow;
}

main {
    background-color: gray;
}

footer {
    background-color: aqua;
}