

body{
    display: flex;
    justify-content: space-between;
}

header {
    background-color: yellow;
    height: 700px;
    width: 48%;
    border: 1px solid black;
}

main{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sec-01{
    background-color: blue;
    height: 45%;
    border: 1px solid black;

}

.sec-02{
    background-color: gray;
    height: 45%;
    border: 1px solid black;

}


