header, footer, aside {
    height: 200px;
    border: 1px solid black;

    margin-bottom: 20px;
}

header{
    background-color: yellow;
}

main {
    height: 200px;
    margin-bottom: 20px;
    display: flex;
}

main section{
    border: 1px solid black;
}

footer {
    background-color: rgb(61, 118, 210);
}


.main-sec1 {
    background-color: gray;
    margin-right: 40px;
    flex-basis: 25%;
}

.main-sec2 {
    background-color: aqua;
    flex-basis: 75%;
}